
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff0f0;
  color: #333;
}

div {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ef5550; 
  margin-bottom: 20px;
}

h2 {
  color: #ff9900; 
}

/* Knappar */
button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #1565c0;
}

select {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1rem;
}
img {
  margin-top: 15px;
  transition: transform 0.5s ease;
} 

img:hover {
  transform: scale(1.5) perspective(150px) rotateY(15deg) rotate(20deg);
}


ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
}

